[submodule "FireflyEngine/3rdParty/spdlog"]
	path = FireflyEngine/3rdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FireflyEngine/3rdParty/GLFW"]
	path = FireflyEngine/3rdParty/GLFW
	url = https://github.com/glfw/glfw
