#pragma once

#define FIREFLY_ENGINE_VERSION_MAJOR @Firefly_VERSION_MAJOR@
#define FIREFLY_ENGINE_VERSION_MINOR @Firefly_VERSION_MINOR@
#define FIREFLY_ENGINE_VERSION_PATCH @Firefly_VERSION_PATCH@

#cmakedefine FIREFLY_OS_WINDOWS
#cmakedefine FIREFLY_ENGINE_NAME "@FIREFLY_ENGINE_NAME@"